*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
.container{
    height: 100vh;
    background: radial-gradient(#246db1, #303336);
}
/* navigation */
.nav{
    position: fixed;
    max-width: 1440px;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(158, 156, 149, .3);
}
.home-page{
    width: 25px;
    height: 25px;
}
.home-page img{
    width: 100%;
    height: auto;
}
.nav-links ul{
    list-style: none;
}
.nav-links li{
    display: inline;
}
.nav-links li:not(:first-child){
    margin-left: 40px;
}
.nav-links a{
    text-transform: capitalize;
    font-size: 25px;
    color: rgba(97, 168, 212, 1);
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    padding: 10px 20px;
    background: none;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 40px rgb(51, 218, 45);
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}
