*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
.container{
    height: 100vh;
    background-color: rgba(227, 195, 68, 1);
}
/* navigation */
.nav{
    position: fixed;
    max-width: 1440px;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(158, 156, 149, .3);
	z-index: 10;
}
.home-page{
    width: 25px;
    height: 25px;
}
.home-page img{
    width: 100%;
    height: auto;
}
.nav-links ul{
    list-style: none;
}
.nav-links li{
    display: inline;
}
.nav-links li:not(:first-child){
    margin-left: 40px;
}
.nav-links a{
    text-transform: capitalize;
    font-size: 25px;
    color: rgba(97, 168, 212, 1);
}

/* content */
.content{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flip img{
    width: 100%;
    height: auto;
}
.flip__body {
	position: relative;
	width: 200px;
	height: 200px;
	transition: all 0.4s;
	transform-style: preserve-3d;
}
.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flip__front {
	z-index: 2;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}
.flip__back {
	transform: rotateY(-180deg);
}
.flip__body {
	transform: rotateY(-180deg);
}
.ico{
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 40px;
    height: 40px;
}
